In [1]:
import mysql.connector # import mysql.connector to allow us to connect
from datetime import datetime

In [ ]:
db = mysql.connector.connect(host = 'localhost', user ="root", passwd = "oscardb", database = "testdatabase" ) # this line of code has the parameter to be able to set up a connection to my database in mysql using root as user and is storing the tables y the databases called testdabase

In [ ]:
mycursor = db.cursor() # this line of code  use the function .cursor() over the db statement to make a connection to my database and store the function in the variable mycursor

In [ ]:
mycursor.execute("Create database testdatabase") #using the variable mycursor and the function .execute() allow us to to stablish a connection and excute a query over the db in this case create a new database

In [ ]:
mycursor.execute("create table person (name varchar(50), age smallint UNSIGNED NOT NULL, personID int primary key auto_increment) ") # this line of code use mycursor.execute() to execute a query in the database in this case to create a new table  with the column name (headers or fields name) specifying the data type of each column and setting up the primary key specifying auto_increment, and assinging some record should no be null values

In [ ]:
mycursor.execute("describe person") #  return the headers description of each column
for x in mycursor: # this is the way to retrieve  the previous query and print it in the terminal
     print(x)

In [ ]:
mycursor.execute("insert into person (name, age) values(%s,%s)",("Norma", "24") ) # this line of code allows us insert values into the table created before specifying the column name and their values
db.commit() # this line commits the query and  Once a commit is executed, the changes made within the transaction become visible and accessible to other queries

In [ ]:
mycursor.execute("select * from person") # this line executes the query in this case select all the colums in the person table
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute("CREATE TABLE  Test (name VARCHAR(50), created datetime NOT NULL, gender enum('M', 'F', 'O') NOT NULL, id int PRIMARY KEY NOT NULL AUTO_INCREMENT)") # this line of code use mycursor.execute() to execute a query in the database in this case to create a new table  with the column name (headers or fields name) specifying the data type of each column and setting up the primary key, and assinging some record should no be null values, but specifying in the gender column just allowing ('M', 'F', 'O') using enum function this values and using the datetime library in python to save the date when the record were created

mycursor.execute("INSERT INTO Test (name, created, gender) values(%s, %s, %s)", ("Jaime", datetime.now(), "M")) # this line of code allows us insert values into the table created before specifying the column name and their values, in the created column we used the datetime.now libray to save the date when the record was created
db.commit()

In [ ]:
mycursor.execute("select * from Test where gender ='M' ORDER BY id DESC") #this line of code slecet all the colums where gender  =  M, and order by id DESC

for x in mycursor:
    print(x)

In [ ]:
mycursor.execute("select id, name from Test where gender ='F' ORDER BY id DESC") #this line of code slecet all the colums where gender  = F , and order by id DESC
for x in mycursor:
     print(x)

In [ ]:
mycursor.execute("ALTER TABLE Test ADD COLUMN  food varchar(50) NOT NULL")#this line of code  add new column called food specifying the data type

In [ ]:
mycursor.execute("describe Test") #  return the headers description of each column
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute("ALTER TABLE Test drop COLUMN  food ") # this line of code drop food column
mycursor.execute("describe Test")
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute("ALTER TABLE TEST change name first_name varchar(50)") #you can also change just the length of the varchar but if you have a name larger than the new value then you'll get an error
mycursor.execute("describe Test")
for x in mycursor:
    print(x)

In [ ]:
users =[
    ("John", "techwithtim", "tim@gmail.com"),
    ("Oscar", "oscar123", "oscar@gmail.com"),
    ("norma", "norma12345", "norma@gmail.com")
]

user_score = [
    (45,100),
    (30,200),
    (46,124)
]
Q1 = "CREATE TABLE Users (id int PRIMARY KEY AUTO_INCREMENT, nmae VARCHAR(50), passwd VARCHAR(50), email VARCHAR(50))" # this line of cade save a query into a variable, the query will create a new table called Users, assinging the columns name with its datatype, in the id column is specified  that the primary key is auto_increment

Q2 = "CREATE TABLE SCORES (Userid int PRIMARY KEY, FOREIGN KEY(userID) REFERENCES Users(id),  game1 int default 0,  game2 int default 0)"  # this line of cade save a query into a variable, the query will create a new table called SCORES, assinging the columns name with its datatype, in the Userid column is specified  the primary key also the query is specified a column userID to be a foreign key of the table User and the column id using the reference reserved word

In [ ]:
mycursor.execute(Q1)
mycursor.execute("describe Users")
# for x in mycursor:
#     print(x)

In [ ]:
# mycursor.execute(Q2)
# mycursor.execute("describe SCORES")
# for x in mycursor:
#     print(x)

In [ ]:
# mycursor.execute("show tables")
# for x in mycursor:
#     print(x)

In [ ]:
Q3= "insert into Users (nmae, passwd, email) VALUES (%s,%s,%s)"
Q4= "insert into SCORES (userId, game1, game2) VALUES (%s,%s,%s)"
 # the variable Q3 and Q4 are variables with queries defined to insert data into a tables

In [ ]:
for x, user in enumerate(users):
    mycursor.execute(Q3, user)
    last_id =mycursor.lastrowid
    mycursor.execute(Q4, (last_id,) + user_score[x])
# this for loop interate over the 'users' list enumarating each item to get the index 'x' and and the user object 'user', it executes the first query, Q3, to insert data related to the current user into the database. then retrieves the last inserted row ID using mycursor.lastrowid. as the primary key of the table is auto-incremented. After that, it executes another query, Q4, to insert additional data related to the user, using the last inserted row ID obtained in the previous step along with data from user_score[x].
db.commit()

In [ ]:
mycursor.execute("select * from Users")

for x in mycursor:
    print(x)

In [ ]:
mycursor.execute("select * from SCORES")

for x in mycursor:
    print(x)